# Git
.git
.gitignore

# Environments & Secrets (Best Practice #1 & #3)
.env
.venv
.uv

# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
build/
dist/
wheels/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project specific
documents/
processed_documents/
Batch_Details_*.json